<div>
  <button (click)="addNewProject()">
    <span class="badge"> ADD NEW PROJECT </span>
  </button>
  <button (click)="refresh()">
    <span class="badge"> REFRESH </span>
  </button>
</div>

<accordion [closeOthers]=true>

  <accordion-group #group *ngFor="let project of projects | async"
  (click)="onSelect(project)" [class.selected]="project === selectedProject">
    <div accordion-heading class="clearfix">
      <div >
        ID: <b>{{project._id}}</b>
      </div>
      <div >
        <h3><small>Project Name:</small> {{project.projectName}}</h3>
      </div>
      <div >
        Project Languages: {{project.languages}}
      </div>
      <div >
        <a [routerLink]="['/projects', project._id]">
          <span class="badge"> EDIT </span>
        </a>
        <button (click)="deleteProject(project._id)">
          <span class="badge"> DELETE </span>
        </button>
      </div>
    </div>
    <app-task-list [tasks]="project.tasks"></app-task-list>
  </accordion-group>

</accordion>
