<div class="container">
  <div class="row">
    <div class="col-sm-3">
      Filter Assignments by Tester:
    </div>
    <div class="col-sm-3">
      <select [(ngModel)]="selectedTester" (change)="testerSelect()">
        <option *ngFor="let t of testers" [ngValue]="t" >
          {{t.firstName}} {{t.lastName}}
        </option>
      </select>
    </div >
    <div>
      <button (click)="resetView()">Reset Filter</button>
    </div>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>
          Project Name
        </th>
        <th>
          Task Name
        </th>
        <th>
          Language
        </th>
        <th>
          Assigned To
        </th>
      </tr>
    </thead>
    <tbody *ngIf="flatAssignments">
      <tr *ngFor="let assignment of filteredAssignments">
        <th>
          {{assignment.projectName}}
        </th>
        <th>
          {{assignment.taskName}}
        </th>
        <th>
          {{assignment.languageAssignment}}
        </th>
        <th>
          {{assignment.testerName}}
        </th>
      </tr>

    </tbody>
  </table>
</div>
