<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>
          Project Name
        </th>
        <th>
          Task Name
        </th>
        <th>
          Language
        </th>
        <th>
          Assigned To
        </th>
      </tr>
    </thead>
    <tbody *ngIf="flatAssignments">
      <tr *ngFor="let assignment of flatAssignments">
        <th>
          {{assignment.projectName}}
        </th>
        <th>
          {{assignment.taskName}}
        </th>
        <th>
          {{assignment.languageAssignment}}
        </th>
        <th>
          {{assignment.testerName}}
        </th>
      </tr>

    </tbody>
  </table>
</div>
