<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">
          <button type="button"
          class="navbar-toggle collapsed"
          (click)="toggleState()">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
            <a class="navbar-brand">Scheduler</a>
        </div>
        <div class="collapse navbar-collapse"
        [ngClass]="{'in':isIn}">
          <ul class="nav navbar-nav">
              <li><a routerLink="/testers">Testers</a></li>
              <li><a routerLink="/projects">Projects</a></li>
              <li><a routerLink="/assignments">Assignments</a></li>
          </ul>
        </div>

    </div>
</nav>
