<p>
  project-detail works!
</p>
<form #projectForm="ngForm">
  <div class="container" *ngIf="project$ | async as project">
    <h3>{{ project.projectName }}</h3>
    <div class="form-group">
      <label class="control-label">ID: {{project.id}}
      </label>
    </div>
    <div class="form-group">
      <label class="control-label">Project Name:</label>
      <div >
        <input class="form-control" [(ngModel)]="project.projectName" name="projectName"
        placeholder="project name"/>
      </div>
    </div>

    <div class="form-group">
      <label class=" control-label">Languages:</label>
      <div >
        <input class="form-control" [(ngModel)]="project.languages" name="langauges" placeholder="language"/>
      </div>
    </div>

  </div>
</form>

<div>
  <button class="btn btn-primary" (click)="gotoProjects()">Save and Return</button>
</div>
