
<form #projectForm="ngForm">

    <div class="container">
      <button class="btn btn-primary" (click)="gotoProjects()">Save and Return</button>
      <button class="btn btn-primary" (click)="refresh()"> Refresh</button>
    </div>
  <div class="container" *ngIf="project">
    <h3>{{ project.projectName }}</h3>
    <div class="form-group">
      <label class="control-label">ID: {{project._id}}
      </label>
    </div>
    <div class="form-group">
      <label class="control-label">Project Name:</label>
      <div >
        <input class="form-control" [(ngModel)]="project.projectName" name="projectName"
        placeholder="project name"/>
      </div>
    </div>

    <div class="form-group">
      <label class=" control-label">Languages:</label>
      <div >
        <input class="form-control" [(ngModel)]="project.languages" name="langauges" placeholder="language"/>
      </div>
    </div>

    <div>
        <h4>Task List</h4>
      <app-task-edit [tasks]="project.tasks" [project_Id]="project._id"></app-task-edit>
    </div>
  </div>


</form>
