<div class="jumbotron">
  <div class="container" style="margin: 0 auto">
    <h3>Select any of the options in the main menu or below</h3>
    <div class="row">
      <ul class="list-group">
        <li class="list-group-item">
          <h2><a routerLink="/testers" routerLinkActive="active">Testers</a></h2>
          <p>
            The user can view, add and edit the list of Testers
          </p>

        </li>
        <li class="list-group-item">
          <h2><a routerLink="/projects" routerLinkActive="active">Project and Tasks</a></h2>
          <p>
            The user can view, add and edit the List of Projects, as well as
            viewing and editing the list of Tasks within a Project. Assignments for
            a task can also be updated.
          </p>
        </li>
        <li class="list-group-item">
          <h2><a routerLink="/assignments" routerLinkActive="active">Assignments</a></h2>
          <p>
            The user can view a flat list of task-tester assignments and filter them
            by Tester.
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>
